h1
{
	background-color: yellow;
	color: gray;
	text-align: center;
	font-family: arial, sans-serif;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 1px;
	text-shadow: gray 6px 6px 6px;
}
h2
{
	color: blue;
	text-align: center;
	font-family: arial, sans-serif;
	margin-top: 0px;
	margin-bottom: 2px;
}
p
{
	color: #4B8A08;
	background-color: lightblue;
	text-align: center;
	vertical-align: super;
	margin-left: 25px;
  	text-indent: -25px;
  	letter-spacing: 2px;
  	word-spacing: 5px;
}
em
{
	text-transform: uppercase;
}
fieldset
{
	padding:2em;
	color:#00f;
	background-color:#ddd;
	border:2px dotted #00f;
	font-family:"Courier New",Courier;
	font-size:.9em;
	margin:0;
}
input
{
	border-radius: 5px;
	background-color: #def;
	outline: none;
	border: 1px solid #39c;
	width: 250px;
	padding: 5px;
}
textarea
{
	display: block;
  	z-index: 2;
  	margin: 0;
  	border: 2px solid #74637f;
  	border-radius: 5px;
  	color: #444;
  	background-color: transparent;
  	overflow: auto;
  	resize: none;
  	transition: transform 1s;
}
button
{
	display: block;
  	width: 300px;
  	margin: 30px auto 0;
  	padding: 10px;
  	border: none;
  	border-radius: 6px;
  	color: #fff;
  	background-color: #74637f;
  	font: 18px 'Opens Sans', sans-serif;
  	letter-spacing: 1px;
  	appearance: none;
  	cursor: pointer;
}
textarea:focus, button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #c6aada;
}